Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу (в порядке убывания)</option>
</select>

Фильтр по типу:
<select ng-model="search.type">
    <option ng-repeat="typePocemon in typePocemons" >{{typePocemon}}</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | orderBy: myOrderProperty | filter:search">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="clickImage(pokemon)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="pokemon.type[0]">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type.join(", ")}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>

<style>
    .fire {color: red}
    .water {color: blue}
    .grass {color: green}
</style>